<!doctype html>
<html>
  <head>
    <title>VTU Tracker</title>
  </head>
  <body>
    <h2>Enter Details</h2>

    <form method="POST">
      <label>Cookie:</label><br />
      <textarea name="cookie" rows="5" cols="60"></textarea><br /><br />

      <label>Course Slug:</label><br />
      <input
        type="text"
        name="course"
        placeholder="1-privacy-and-security-in-online-social-media"
      /><br /><br />

      <button type="submit">Load Course</button>
    </form>
  </body>
</html>
